.article-container{
    flex-grow: 1;
    border: 1px solid black;
    flex-shrink: 1;
    width: 33%;
}

.story-grid {
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
	justify-content: space-between;
    padding: 15px;
}
